*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#55162A;
    width: 100%;
    text-align: center;
}

.search-bar{
    padding: 15px;
    width: 60%;
    margin-top: 5%;
    border: none;
	outline: none;
    border-radius: 15px;
    background: none;
    background-color: white;
    font-size: 20px;
}
.search-bar:focus {
	box-shadow: 0px 0px 8px 3px #4484C4;
}
.not-found{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 30px;
    color:#FFBFDA;
}
.list{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.list-item{
    width: 33.3%;
    margin-bottom: 2%;
    list-style: none;
}
.title{
    font-size: 20px;
    color: white;
    
}

@media only screen and (max-width: 928px) {
    .list-item{
        width: 50%;
    }
  }
@media only screen and (max-width: 618px) {
    .list-item{
        width: 100%;
    }
  }


  